/* Text */
$font: "JetBrainsMono Nerd Font Mono";

/* Colours */
$pink: #f5c2e7;

$text: $pink;

$shadow: #cba6f7;

.time {
	font-size: 9rem;
	font-weight: bold;
	font-family: $font;
	background: rgba(100, 100, 100, 0);
	color: $text;
	padding: 10px;
	// text-shadow: 5px 5px 7px $shadow;
}
