@use 'variables.scss' as v;

.todo_item {
  background: v.$background_dark;
  border-radius: v.$border-radius;
  margin: 0.5rem;
  padding: 0.30rem;
  padding-left: 0rem;
}

.checkbox {
  color: v.$lavender;
  font-size: 1.1rem;
}

.checkbox.ticked {
  color: v.$green;
}
