@use 'sass:color';

/* Text */
$font: "JetBrainsMono Nerd Font";
$font_prop: "Readex Pro";

// $font: "Comfortaa";

/* Colours */

$background: rgba(88, 91, 112, 0.4);
// $background_dark: rgba(49, 50, 68, 0.9);
$background_dark: color.scale($background, $alpha: +50%);
$border_col: rgb(205, 214, 244, 0.5);

// $bar_bg: rgba(21, 21, 32, 0.7);
$bar_bg: rgba(50, 50, 75, 0.7);
$bar_bg_solid: rgba(21, 21, 32, 1);

$pink: #f5c2e7;
$mauve: #cba6f7;
$red : #f38ba8;
$maroon: #eba0ac;
$peach: #fab387;
$yellow: #f9e2af;
$green: #a6e3a1;
$teal: #94e2d5;
$sky: #89dceb;
$blue: rgb(137, 180, 250);
$lavender: #b4befe;

$surface1: #45475a;

$text: rgb(205, 214, 244);
$subtext0: #a6adc8;
$subtext :$subtext0;
$accent: $pink;

$text-shadow: rgba(24, 24, 37, 0.15);

$blank: rgba(0, 0, 0, 0);

$shadow: #cba6f7;

$border-radius: 1rem;
$border_width: 0.3rem;
$padding: 0.7rem;
